.input-container {
    background-color: white;
    padding: 12px;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    gap: 10px;
  }
  
  .input-left {
    width: 50%;
  }
  
  .input-label {
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 8px;
    display: inline-block;
  }
  
  .input-field {
    outline: none;
    width: 100%;
    background: transparent;
    padding: 6px 0;
    border: none;
    border-bottom: 1px solid #ccc;
  }
  
  .input-right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: right;
  }
  
  .currency-label {
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 8px;
    width: 100%;
  }
  
  .currency-select {
    border-radius: 8px;
    padding: 4px 6px;
    background-color: #f3f3f3;
    cursor: pointer;
    outline: none;
    border: 1px solid #ccc;
  }
  