:root {
  
  background-color: #242424;

}
.navbar{
  display: flex;
  justify-content:space-between;
  color: white;
  margin: 1% 3%;
  padding: 0% 2%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  background-color: rgb(119, 119, 255);
}
.logo{
  padding:2% 0%;
}
.navigation{
  display: flex;
  list-style: none;
  gap:35%;
  padding: 0px 4%;
  cursor: pointer;
  
}
.navitem{
  text-wrap:nowrap ;
}
.navitem:hover{
  transition: all;
  transition-duration: 0.5s;
  color:rgb(45, 6, 241);
  text-decoration: underline;
  font-size:22px;
}

