@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding:0px; 
  margin:0px; 
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor:pointer;
}
body{
  background-color: #f5f5f5;
}
.container{
  width:100%;
  padding-left: 10%;
  padding-right: 10%;
}
.btn{
  color:#212121;
  background-color: #FFF;
  padding:14px 25px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  outline: 0;
  border: 0;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  
}
.btn img{
  width:20px;
  margin-left: 10px;
}
.btn.dark_btn{
  background-color: #213ea0;
  color:#fff
}
/* media queries */
/* @media(min-width:320px){
  .container{
    width:100%;
    padding-left: 5%;
    padding-right: 5%;
  } */

@media  (min-width:992px) {
  .container{
    width:100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .btn{
    padding:14px 10px;
  }
}