.footer{
    margin:10px auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top:1px solid #797979;
    padding:15px 0px;

}
.footer ul {
    display: flex;
    list-style: none;
    gap:20px;
}
@media (max-width:650px) {
    .footer{
        flex-direction: column;
        text-align: center;
    }
    .footer ul li{
        margin:10px

    }
    .footer ul{
        margin-top: 10px;
    }
    
}