.container{
    background-color: rgb(50, 50, 104);
    padding:20px;
    display: flex;
    flex-direction: column;
    gap:15px;
    border-radius: 5px;
}
.pass{
    display: flex;
    gap:10px;
    justify-content: center;

}
.copy{
    padding:2px;
    font-size: 15px;
    border-radius: 10px;
    background-color: blue;
    transition: 1s all;

}
.buttons{
  display: flex;
  justify-content: center;
  gap:10px
}
.copy:hover{
    background-color: rgb(50, 50, 104);
    font-size: 16px;
}
.passbox{
    border-radius: 5px;
    width:80%;
    background-color: white;
    color:rgb(201, 63, 63);
    font-size: 20px;
}
.passbox:focus{
    outline: 1px solid rgb(6, 6, 212);
}